:root {
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-background-color: #2f303a;
  --special-background-color: #f5f4fa;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

/* ============== COMPONENTS ============== */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  /* outline: 2px solid tomato; */
}

.list {
  list-style: none;
  padding: 0;
}

.unvisible {
  color: transparent;
}

.flex {
  display: flex;
  flex-direction: row;
}

.no-margin.list {
  margin: 0;
}

.no-margin {
  margin: 0;
}

/* ============== END COMPONENTS ============== */

/* ============== BUTTONS ============== */

.button {
  cursor: pointer;
  color: var(--secondary-text-color);
  font-family: inherit;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  margin: 0 auto;
}

.button.secondary {
  color: var(--primary-text-color);
  background-color: var(--special-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  min-width: 75px;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn,
.subscribe-btn {
  fill: var(--primary-white-color);
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 55px;
  border-radius: 4px;
  margin: 0 auto;
  border: 1px solid transparent;
}

.subscribe-btn-icon {
  display: flex;
  margin-left: 10px;
}

.modal-form-btn:hover,
.modal-form-btn:focus,
.subscribe-btn:hover,
.subscribe-btn:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ============== END BUTTONS ============== */

/* ============== HEADER ============== */
.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header li {
  padding: 32px 0;
}

.top-logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  margin: 0 95px 0 0;
  padding: 25px 0 25px 0;
  /* outline: 2px solid tomato; */
}

.logo .accent {
  color: var(--accent-color);
}

/* ============== NAVIGATION ============== */

.site-nav-item {
  margin-right: 50px;
  position: relative;
  display: block;
}

.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav {
  display: flex;
  margin: auto 0;
}

.site-nav .current {
  color: var(--accent-color);
}

.site-nav .link:hover::after,
.site-nav .link:focus::after,
.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  /* transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.auth-nav {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: auto;
}

.auth-nav .button {
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
  text-decoration: none;

  display: flex;
  align-items: center;
}

.auth-nav .button:hover,
.auth-nav .button:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav-item:not(:first-child) {
  margin-left: 50px;
}

.auth-nav-icon {
  margin-right: 10px;
}

/* ============== END NAVIGATION ============== */

/* ============== END HEADER ============== */

/* ============== HERO ============== */

.hero {
  background-color: var(--secondary-background-color);
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
}

.hero-content {
  margin: 0 auto;
  max-width: 700px;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* margin: 0 auto; */
  margin-bottom: 30px;
}

/* Overlay */

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/overlay.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* ============== END HERO ============== */

/* ============== SECTION ============== */

.section-main-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.section {
  padding: 94px 0;
}

.section-special-first {
  padding: 94px 0 47px 0;
}

.section-special-second {
  padding: 47px 0 94px 0;
}

/* ============== END SECTION ============== */

/* ============== FEATURES ============== */

.feature-list-item .text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.feature-list {
  text-align: left;
  display: inline-block;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.feature-list-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.feature-list-item-title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.feature-list-item::before {
  display: block;
  content: '';
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--special-background-color);
  border-radius: 4px;
}

.icon-antenna::before {
  display: block;
  background-image: url('../images/svg/features/antenna.svg');
  background-size: 70px;
}

.icon-clock::before {
  display: block;
  background-image: url('../images/svg/features/clock.svg');
  background-size: 70px;
}

.icon-diagram::before {
  display: block;
  background-image: url('../images/svg/features/diagram.svg');
  background-size: 70px;
}

.icon-astronaut::before {
  display: block;
  background-image: url('../images/svg/features/astronaut.svg');
  background-size: 70px;
}

/* ============== END FEATURES ============== */

/* ============== SERVICES ============== */

.services-list {
  display: inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.services-list-item {
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.services-list-item-lable {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
}

.services-list-item-title {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* ============== END SERVICES ============== */

/* ============== EMPLOYEES ============== */

.employees {
  background-color: var(--special-background-color);
  text-align: center;
}

.employees-list {
  display: inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.employees-item {
  background-color: #fff;
  margin: 0;
  display: inline-block;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employees-item-description {
  padding: 30px;
}

.employees-item h3 {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin: 0 auto 10px auto;
}

.employees-item p {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: var(--primary-white-color);
  cursor: pointer;
}

.social-list-item {
  margin-top: 16px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-icon {
  fill: #afb1b8;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--primary-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ============== END EMPLOYEES ============== */

/* ============== CLIENTS ============== */

.clients-list {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-list-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 180px) / 6);
}

.clients-list-link {
  background-color: var(--primary-white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.clients-list-icon {
  fill: #afb1b8;
}

.clients-list-link:hover,
.clients-list-link:focus {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ============== END CLIENTS ============== */

/* ============== PORTFOLIO PROJECTS ============== */

.filter {
  align-items: center;
  margin: 0 auto 50px 0;
  display: flex;
  flex-direction: reverse;
  justify-content: center;
}

.filter .button {
  margin-right: 8px;
}

.projects a {
  text-decoration: none;
  color: var(--title-text-color);
}

.projects h2 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-item-description-type {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.projects-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item-description {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 25px;
}

.projects-item-description p,
h2 {
  margin: 0;
}

.projects-list-link-wrapper {
  display: block;
}

.projects-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.projects-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-link-wrapper:hover .projects-overlay,
.projects-list-link-wrapper:focus .projects-overlay {
  transform: translateY(0%);
}

/* ============== END PORTFOLIO PROJECTS ============== */

/* ============== FOOTER ============== */

.footer {
  background-color: var(--secondary-background-color);
  padding: 60px 0;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

.logo .second-part {
  color: var(--primary-white-color);
}

/* ============== CONTACT INFORMATION ============== */

.address {
  min-width: 235px;
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.address .button {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address .button:hover,
.address .button:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-margin {
  margin-bottom: 9px;
}
/* ============== END CONTACT INFORMATION ============== */

.invite {
  margin-left: 70px;
}

.invite-text,
.subscribe-text {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.social-list {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
}

.social-list-footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.social-list-footer-icon {
  fill: var(--primary-white-color);
}

.social-list-footer-link:hover,
.social-list-footer-link:focus {
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-footer-link:hover .social-list-footer-icon,
.social-list-footer-link:focus .social-list-footer-icon {
  fill: var(--primary-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe {
  margin-left: 90px;
}

.form-subscribe {
  display: flex;
  margin-top: 20px;
  /* padding: 0; */
}

.form-subscribe-input {
  width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px;
  background-color: transparent;
  margin-right: 12px;
}

.form-subscribe-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

/* ============== END FOOTER ============== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.close-btn:hover {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form-field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  font-size: 16px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms linear;
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  display: block;
  /* width: 12px;
  height: 12px; */
  fill: var(--primary-text-color);
  transition: fill 250ms linear;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  transition: border-color 250ms linear;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-policy-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  margin-bottom: 30px;
}

.modal-form-policy-link {
  color: var(--accent-color);
}

.modal-form-checkbox-wrapper {
}

.modal-form-checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 20%;
}

.modal-form-checkbox:checked + .modal-form-checkbox-icon {
  fill: var(--primary-white-color);
  background-image: url('../images/svg/check.svg');
  background-size: cover;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
